createdAt: "2021-12-12T13:41:48.558Z"
updatedAt: "2021-12-12T13:42:34.128Z"
type: "MARKDOWN_NOTE"
folder: "474036697c2459e60f64"
title: "gdfgdfgdfgdg"
tags: [
  "fgfgfgdg"
  "fggfgdfg"
]
content: '''
  gdfgdfgdfgdg
  
  ![8bf43f61.png](:storage/592f1eae-a022-4097-9d29-dac6a72c98f6/8bf43f61.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
