createdAt: "2021-12-12T13:42:38.600Z"
updatedAt: "2021-12-12T13:42:54.494Z"
type: "MARKDOWN_NOTE"
folder: "474036697c2459e60f64"
title: "dfdfdfd"
tags: []
content: '''
  dfdfdfd
  ![1000f54e.png](:storage/e0da0078-51a4-4561-8b88-481dd88c3da6/1000f54e.png)
  
  
  fsfsfs
  
  
  
  dfsfsdfs
'''
linesHighlighted: []
isStarred: false
isTrashed: false
